body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

/*
 * Character styling
 */

#gunshow {
  position: fixed;
  top: 50px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#navigation {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	background: #000;
	width: 100%;
	z-index: 3;
}
#navigation li { list-style: none; float: left; }
#navigation li a { cursor: pointer; }
#navigation li.logo a { display: block; height: 26px; width: 160; background: url('images/menubar.png') 0 0;}
#navigation li.guided-tours a { display: block; height: 26px; width: 130; background: url('images/menubar.png') -192 0; margin-left: 50px; }
#navigation li.create-booth a { display: block; height: 26px; width: 155; background: url('images/menubar.png') -350 0; margin-left: 50px; }
#navigation li.contact-us a { display: block; height: 26px; width: 110; background: url('images/menubar.png') -715 0; margin-left: 50px; }
#navigation li.exit-show a { display: block; height: 26px; width: 161; background: url('images/exit-show.png'); margin-left: 50px; }

#countdown {
	display: none;
}

#intro-title {
  background: url('images/introtitle.png') no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

#intro-year {
  background: url('images/everyyear.png') no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

#intro-input {
  background: url('images/gunsare.png') no-repeat;
  background-size: 250px;
  height: 100px;
  width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -280px;
  margin-top: -50px;
  z-index: 1;
}

#intro-input input.text {
  height: 55px;
  padding: 5px;
  width: 290px;
  border: 3px double #FFE354;
  background: none;
  position: absolute;
  top: 25px;
  margin-left: 250px;
  color: #FFE354;
  font-size: 32px;
  font-family: arial;
  text-transform: uppercase;
  outline: none;
}

#intro-input .instruction {
  background: url('images/pressenter.png') no-repeat;
  background-size: 100%;
  width: 180px;
  height: 75px;
  margin-top: 80px;
  margin-left: 300px;
}


#outro-text-1 {
  background: url('images/outro-text-black-1.png') no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}
#outro-text-2 {
  background: url('images/outro-text-black-2.png') no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}
#outro-text-3 {
  background: url('images/outro-text-black-3.png') no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}