body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

/*
 * Character styling
 */

#gunshow {
  position: fixed;
  top: 50px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#navigation {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	background: #000;
	width: 100%;
	z-index: 3;
}
#navigation li { list-style: none; float: left; }
#navigation li.logo a { display: block; height: 26px; width: 160; background: url('images/menubar.png') 0 0;}
#navigation li.guided-tours a { display: block; height: 26px; width: 130; background: url('images/menubar.png') -192 0; margin-left: 50px; }
#navigation li.create-booth a { display: block; height: 26px; width: 155; background: url('images/menubar.png') -350 0; margin-left: 50px; }
#navigation li.about-show a { display: block; height: 26px; width: 160; background: url('images/menubar.png') -525 0; margin-left: 50px; }
#navigation li.contact-us a { display: block; height: 26px; width: 110; background: url('images/menubar.png') -715 0; margin-left: 50px; }

#countdown {
	display: none;
}

#intro-title {
  background: url('images/introtitle_shrunk.png') no-repeat;
  background-size: 100%;
  height: 1000px;
  width: 46%;
  position: absolute;
  top: 11%;
  left: 27%;
  z-index: 0;
}

#intro-input {
  background: url('images/gunsare.png') no-repeat;
  background-size: 250px;
  height: 100px;
  width: 560px;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -280px;
  z-index: 1;
}

#intro-input input.text {
  height: 55px;
  padding: 5px;
  width: 290px;
  border: 3px double #FFE354;
  background: none;
  position: absolute;
  top: 25px;
  margin-left: 250px;
  color: #FFE354;
  font-size: 32px;
  font-family: arial;
  text-transform: uppercase;;
}

#intro-input input.button {
  border: 2px solid white;  
}

