#floor {
  height: 100%;
  width: 100%;
  background-image: url("../images/binding_light.png");
  background-repeat: repeat;
  z-index: -999;
}

.floor {
  position: absolute;
}

.booth {
  position: absolute;
  z-index: -100;
}

.live-view {
  margin: 5px;
  float: right;
}
