#floor {
  height: 600px;
  width: 80%;
  margin: 50px 10%;
  border: 1px solid black;
}

.floor {
	position: absolute;
}
.booth {
	position: absolute;
	border: 1px solid black;
}

#live-view {
  margin: 5px;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  float: right;
}